.Hero {
    text-align: center;
    background-image: url(./background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Hero-top {
    margin-top: 0;
}

.Hero-line {
    margin-top: 0;
    font-size: 5em;
    margin-bottom: 0;
}

.Hero-brand {
    width: 30%;
}

.Hero-content {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

@media (max-width: 500px) {
  .Hero-line {
    font-size: 3em;
  }

  .Hero-content {
    width: 90%;
  }
}

.Hero-brand-line > * {
    display: inline;
    vertical-align: middle;
}

.Hero-brand-line {
    margin-top: 0;
}

.Hero-ampersand {
    font-size: 5em;
    padding-right: 30px;
}

.Hero-wave {
    display:block;
    margin: 0;
    padding-bottom: 0px;
}
