.Header-text {
    padding-left: 20px;
}

.Header-link-container {
    margin-left: auto;
    padding-right: 60px;
}

.Header-link {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    color: white;
}

.Header-hamburger {
    display: none;
}

.Header-hamburger-icon {
    font-size: 2em;
}

@media (max-width: 1000px) {
    .Header-hamburger {
        display: inline;
    }

    .Header-desktop-link {
        display: none;
    }
}

.Header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.Header-bar {
    background-color: #23272A;
    position: fixed;
    width: 100%;
    height: 120px;
}

.Header-content-block {
    padding-top: 120px;
}

.Header>* {
    vertical-align: middle;
}

.Header-image {
    clip-path: circle(35px at center);
}

.active-link {
    color: #7289DA;
}

.Header-hamburger-button {
    background: none;
    border: none;
    color: white;
    padding-right: 50px;
}

.Header-hamburger-button:hover {
    cursor: pointer;
}

.Header-hamburger-button:focus {
    outline: none;
}

.reddit {
    background-color: #FF5700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.reddit>svg {
    vertical-align: middle;
    font-size: 2em;
    padding-right: 10px;
}

.Header-mobile-menu > * {
  display: block;
}

.Header-mobile-menu {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #2C2F33;
  overflow: hidden;
  transition: all .3s ease-in-out;
  transform-origin:top;
}

.Header-mobile-spacer {
  padding-bottom: 20px;
}

.Header-mobile-link {
  padding-top: 10px;
  padding-bottom: 10px;
}
